body {
    margin: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}


#navbar{
    background-color: rgb(0, 0, 0);
    font-size: 30px; ;
    color: aliceblue;

}

#camisetas{
    text-align: center;
    display: flex;
    justify-content: center;
}

#relogio{
    text-align: center;
    display: flex;
    margin: 30px;
    border: 5px;


}

.relogio{
    margin: 30px;
    border: 5px;
    border-style: solid;
    border-color: black;
    max-height: 220px;
    max-height: 190px;

}


#shorts{
    text-align: center;
    display: flex;
    margin: 30px;
    border: 5px;
    
}    

.imagens_shorts{
    margin: 30px;
    border: 5px;
    border-style: solid;
    border-color: black;
    max-width: 220px;
    max-height: 190px;

}
